.homeBg {
    display:flex;
    width:100vw;
    height:100vh;
    background: url("../../public/couch-photo.jpg");
    background-size: cover;
    background-repeat: "no-repeat";
}

footer {
    width:100%;
    position: absolute;
    bottom:0;
    margin-bottom: 10px;
}